$darkest:      #202124;
$dark:         #33353a;
$medium:       #5e616b;
$light:        #ced1db;

$theme-medium: #4e2a84;
$theme-light:  #b6acd1;

$text-dark:         #202124;
$text-medium-light: #999;
$text-light:        #ccc;
$text-highlight:    #eee;

$text-theme-medium:    #836eaa;
$text-theme-light:     #b6acd1;
$text-theme-highlight: rgb(204, 196, 223);

$text-error: #f72825;

* {
  color: $text-light;
}

input[type="text"] {
  background-color: $medium;
  color:            $text-light;
  border-color:     $text-light;
}

a:not(base) {
  &, &:focus, &:hover {
    color: $text-theme-light;
  }
}

.btn-link:not(base) {
  color: $text-theme-light;
}

.h1, h1, .h2, h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  &:not(base) {
    color: $text-light;

    &.panel-title {
      color: $text-light;
    }
  }
}

.selected:not(base) {
  background-color: $medium;

  &, > * {
    color: $text-highlight;
  }
}

.alert * {
  color: inherit;
}

.gray:not(base) {
  color: $text-medium-light !important;
}

button:not(base).glyph {
  background-image: url('chrome-extension://__MSG_@@extension_id__/assets/images/collapsed.png');

  &:focus, &:hover {
    background-image: url('chrome-extension://__MSG_@@extension_id__/assets/images/collapsed_hover.png');
  }

  &.expanded {
    background-image: url('chrome-extension://__MSG_@@extension_id__/assets/images/expanded.png');

    &:focus, &:hover {
      background-image: url('chrome-extension://__MSG_@@extension_id__/assets/images/expanded_hover.png');
    }
  }
}

select.form-control:not(base) {
  color: $text-light;
}

.form-control:not(base) {
  background-color: $medium;

  &:focus {
    border-color: $theme-light;
  }

  &[readonly] {
    background-color: $dark;
    color:            $text-light;
  }
}

.btn-primary:not(#btnSearch) {
  background-color: $theme-medium !important;
  border-color:     $theme-medium !important;
}

.input-group-btn:not(base) .btn-default {
  background-color: $medium;
  color:            $text-light;
}

.btn-default:not(base) {
  background-color: $medium;

  &:hover {
    border-color: $light;
  }

  &:active:focus {
    background-color: $medium;
  }
}

body, #divTabHeader, #divLeft {
  background-color: $darkest !important;
}

.organization-link > a {
  color:       $text-theme-highlight;
  font-family: Campton, 'Segoe UI', 'Open Sans', Arial, sans-serif;
}

#divHeader {
  padding-top:      0.75em;
  padding-bottom:   0.75em;
  background-color: $darkest !important;
}

form[action*="TicketDet"] #divHeader {
  padding: 0;
}

form[action*="TicketSearch"] #divHeader {
  padding: 5px;
}

#divTabHeader, .TabButtonCell:not(base) {
  background-color: $dark !important;
}

#tabsList {
  background-color: $darkest;

  > li {
    color: $text-light;
  }

  > li.ui-tabs-active, > li.ui-state-active {
    background-color: $dark;
  }
}

#ddlDesktops {
  background-color: $dark;
  color: $text-light;
}

#divLeft {
  background-color: $darkest;

  .nav1, .nav2, .nav3 {
    background-color: transparent;
  }
}

#tabs {
  &, &.ui-widget-content {
    background-color: $darkest !important;
    background-image: none;
  }
}

#dropdownMenu1 {
  color: $text-light !important;

  &:active, &:focus-visible, &:focus {
    border:  none !important;
    outline: none;
  }
}

ul.user-profile-menu {
  background-color: $darkest;
  border:           1px solid $medium;

  > li, > li > a {
    color: $text-light !important;
  }
}

#btnSearch, #btnTicketLookup {
  background-color: $medium;

  > span.fa {
    color: $text-theme-highlight !important;
  }
}

.desktop-module {
  > .panel-heading.module-header {
    color: $text-light;
  }

  &.panel, &.panel > .panel-heading {
    background-color: $dark;
  }
}

.module-header span {
  color: $text-light !important;
}

table {
  > tbody, > thead {
    tr.TDGridHeader {
      background-color: $dark;
      border-color:     $medium;

      > td {
        color:        $text-light;
        border-color: $medium;
      }
    }
  }

  &.table:not(p) {
    border-color: $medium;

    > tbody {
      > tr, > tr.TDGridHeader {
        > td, > th {
          border-color: $medium;
        }
      }
    }
  } 
}

.table-striped > tbody > tr:nth-of-type(odd):not(a) {
  background-color: $dark;
}

.panel-default:not(base) {
  &, > .panel-heading {
    border-color: $medium;
  }

  > .panel-heading {
    background-color: $dark;
  }
}

ul.nav-pills:not(base) li.dropdown button.dropdown-toggle:hover, .nav:not(base) > li > a:hover {
  background-color: #ced1db;

  &, span {
    color: $text-dark;
  }
}

.nav:not(base) {
  > li.open > a span {
    color: $text-dark;
  }

  .open > a:focus {
    background-color: $light;
  }
}

li.open > a#aSettings > span.fa {
  color: $text-dark;
}

.btn-link:not(base) {
  &:focus, &:hover {
    color: $text-theme-highlight;
  }
}

.text, .report-text {
  &:not(base) {
    &:hover, &:active {
      background-color: $medium;
    }
  }
}

.dropdown-menu:not(base) {
  background-color: $darkest;
  border:           1px solid $medium;

  * {
    color: $text-light;
  }

  > li > a {
    color: $text-light;

    &:hover {
      background-color: $medium;
      color:            $text-light;
    }
  }

  > span > li {
    &, > a {
      &:focus, &:hover {
        background-color: $medium;
      }
    }
  }

  .divider {
    background-color: $medium;
  }
}

.ButtonCellTop:not(base) {
  background-color: $darkest;
}

.control-label, label {
  &:not(base) {
    color: $text-light;
  }
}

#taluOwner_btnLookuptaluOwner > span.fa {
  color: $text-theme-light !important;
}

#taluOwner_btnCleartaluOwner, button[data-lookupaction="clear"] {
  > span.fa {
    color: $text-error !important;
  }
}

button[data-lookupaction="select"] > span.fa {
  color: $text-theme-light !important;
}

.talu_holder:not(base) {
  border-color: $light;

  &.holder-focused {
    outline:      none;
    border-color: $theme-light;
  }

  .luac_default {
    color: $text-light;
  }

  .bit-box {
    background-color: $light;
    color: $text-dark;
  }
}

.lu_tdac-auto:not(base) {
  ul {
    background-color: $darkest !important;

    .auto-focus {
      background-color: $theme-medium;
    }

    li div.talu_subcaption {
      color: $text-medium-light;
    }
  }
}

div.ReportGroupName:not(base) {
  background-color: $medium !important;
  color:            $text-highlight !important;
  border-color:     $medium;
  font-weight:      bold;
}

.table-bordered:not(base) > tbody > tr {
  > td, > th {
    border-color: $medium;
  }
}

.select2-container:not(base) {
  &.form-control {
    background-color: $medium;
  }

  .select2-choice {
    background-color: $medium;
  }

  .select2-choices {
    background-color: $medium;

    .select2-search-field input {
      background-color: $medium;
      color:            $text-light;
  
      &.select2-active {
        background-color: $medium !important;
        color:            $text-light;
        background-image: none !important;
      }
    }
  }
}

.select2-container-multi:not(base) {
  &.select2-container-active .select2-choices {
    border-color: $theme-light;
  }

  .select2-choices .select2-search-choice {
    background-color: $light;
    
    * {
      color: $text-dark;
    }
  }
}

.select2-search:not(base) input {
  &, &.select2-active {
    background-color: $medium;
    background-image: none;
    color:            $text-light;
  }
}

.select2-drop:not(base) {
  background-color: $darkest;
}

.select2-drop-active:not(base) {
  border-color: $theme-light;
}

#thTicket_lblStatus, #ctl00_lblStatus {
  color: $text-theme-light !important;
}

.panel:not(base) {
  background-color: $dark;

  .black {
    color: $text-light !important;
  }
}

.nav-tabs:not(base) > li.active a {
  background-color: $light;
  color:            $text-dark;
}

.copyButton:not(base) {
  &, &:hover {
    background-color: $medium;
  }
}

.active [id^="tdtTabs_lbl"] {
  color: $text-dark;
}

button.nav1:not(base) {
  font-weight: bold;
}

.hilite:not(base) {
  td, a {
    background-color: $theme-medium;
  }
}

.open:not(base) > .dropdown-toggle.btn-default {
  &:focus, &:hover {
    background-color: $medium;
  }
}

.ui-layout-pane:not(base) {
  background-color: $darkest;
  background-image: none;
}

.TDFooterRow:not(base) {
  background-color: $darkest;
}

.pagination:not(base) > .active > span {
  &, &:hover, &:focus {
    background-color: $medium;
    border-color:     $medium;
  }
}

#pageSizeLabel {
  background-color: $medium !important;
  color:            $text-light;
}

#divMstrHeader {
  background-color: $darkest !important;
}

.dropdown-menu:not(base) > span > li > a {
  color: $text-medium-light;
}

.Module:not(base) {
  background-color: $dark;

  .btn {
    background-color: $medium;
  }
}

.Module-rpt:not(base) {
  border-color: $theme-light;
}

.list-group-item:not(base) {
  background-color: $dark;
}

#ApplicationsMenu:not(base) {
  background-color: $darkest;
  border:           1px solid $medium;
}

.panel-app:not(base):hover {
  background-color: $medium;
}

.panel-footer:not(base) {
  background-color: $dark;
  border-color:     $medium;
}

.border-bottom, .border-top {
  &:not(base) {
    border-color: $medium;
  }
}

.block-actions:not(base) {
  background-color: $dark;

  .btn.btn-link {
    color: $text-theme-light;

    > span.fa.blue {
      color: $text-theme-light !important;
    }
  }
}

#divTasks {
  .fa.blue {
    color: $text-theme-light !important;
  }

  .fa.green {
    color: $text-theme-medium !important;
  }
}

#divWorkflow .fa.blue.fa-minus {
  color: $text-theme-light !important;
}

span.feed-private[title]:not(base):not(a) {
  color: $text-medium-light;
}